extends template.pug

block style 
     style
      include ../public/home.css

block content 
    section#heroSection 
      div.heroContent
        h1 Welcome to Grix Fitness Club 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad consectetur eveniet atque dolorem assumenda?
      div#heroButton 
        button.btn Call Now
        button.btn Email Us

    section#gymSection
      h2 Our Gymnastics
      div.dock
        h3 Gym Athletics
        div.dock-board
          div.dock-img 
            img(src="/public/img/gym-1.png", alt="gym-image") 
          div.dock-content 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, accusamus explicabo illum fuga aliquam veritatis modi. Lorem ipsum dolor sit amet, consectetur.
      
      div.dock
        h3 Expert Trainer
        div.dock-board
          div.dock-img 
            img(src="/public/img/gym-2.png", alt="gym-image") 
          div.dock-content 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, accusamus explicabo illum fuga aliquam veritatis modi. Lorem ipsum dolor sit amet consectetur adipisicing elit. 

      div.dock
        h3 Mind Set Drill
        div.dock-board
          div.dock-img 
            img(src="/public/img/gym-3.png", alt="gym-image") 
          div.dock-content 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, accusamus explicabo illum fuga aliquam veritatis modi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
    section#workoutSection 
      h2 Our Workout Area
      div#area-img 
        img(src="/public/img/area-1.jpg", alt="Workout-Area")
        img(src="/public/img/area-2.jpg", alt="Workout-Area")
        img(src="/public/img/area-3.jpg", alt="Workout-Area")
        img(src="/public/img/area-4.jpg", alt="Workout-Area")
        img(src="/public/img/area-5.jpg", alt="Workout-Area")
        img(src="/public/img/area-6.jpg", alt="Workout-Area")