doctype html
html
  head
    title Grix Fitness Club - A place that Makes your body ruddy
    block style
    style
        include ../public/template.css 
  body
    nav#navbar
      ul
      div#logo
        img(src="/public/img/logo.png", alt="")
        li #[a(href="/") Home] 
        li #[a(href="/") Services] 
        li #[a(href="/") Join Us]
        li #[a(href="/") About] 
        li #[a(href="/contact") Contact Us]
    block content
    footer#footerSection
      | Copyright &copy; 2022 || www.grixfitnessclub.com || All rights reserved